@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<body>

    <h1>User List</h1>
    <h1>User List</h1>
    <h1>User List</h1>
    <h1>User List</h1>
    <h1>User List</h1>
    <h1>User List</h1>
    <button id="loadUsers">Load Users</button>
    <table border="1" id="userTable">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Group ID</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
