
@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />
<div class="container">
    <h1 class="exam-title">Cuộc thi Vẽ tranh cùng AI 2024</h1>
    <div class="chat-box" id="chatBox">
        <textarea id="imageTopic" placeholder="Type the topic here..." rows="3"
                  oninput="checkWordLimit(this, 1000)"></textarea>
        <p id="wordCount" style="text-align: right; font-size: 1.5rem; color: #888;">0/1000 từ</p>

        <button id="saveButton" onclick="saveTopic()">Bạn còn 5 lần vẽ</button>
    </div>
    <div id="notification" class="hidden">
        <p id="notificationMessage">Thông báo</p>
        <div id="notificationButtons" class="hidden">
            <button id="confirmButton" onclick="confirmAction()">Xác nhận</button>
            <button id="cancelButton" onclick="cancelAction()">Hủy</button>
        </div>
    </div>

    <div class="image-container">
        <div class="image-slot" data-slot="1" onclick="handleSlotClick(this)">Chưa Được Vẽ</div>
        <div class="image-slot" data-slot="2" onclick="handleSlotClick(this)">Chưa Được Vẽ</div>
        <div class="image-slot" data-slot="3" onclick="handleSlotClick(this)">Chưa Được Vẽ</div>
        <div class="image-slot" data-slot="4" onclick="handleSlotClick(this)">Chưa Được Vẽ</div>
        <div class="image-slot" data-slot="5" onclick="handleSlotClick(this)">Chưa Được Vẽ</div>
    </div>
    <!-- Modal -->
    <div id="imageModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <img id="modalImage" src="#" alt="Phóng to hình ảnh" />
        </div>
    </div>

    <table id="imageTable">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mô tả</th>
                <th>Hình</th>
                <th>Tải Về</th>
                <th>Chọn Nộp</th>
            </tr>
        </thead>
        <tbody>
<<<<<<< HEAD
            <!-- Rows will be dynamically added here 1 -->
=======
            <!-- Rows will be dynamically added here 1-->
>>>>>>> trieu
        </tbody>
    </table>

    <div class="submit-container">
        <span>
            <b>Link Video : </b>
        </span>
        <input type="url" id="videoLink" placeholder="Dán liên kết video của bạn vào đây ...." />
        <button id="submitBtn" onclick="submitImages()">Nộp Bài</button>
    </div>
</div>
<script src="~/js/chat.js" asp-append-version="true"></script>