html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: rgba(31, 41, 55, 0.9);
    color: #f3f4f6;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    display: flex;
    align-items: center;
}

    .logo img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .logo h4 {
        font-size: 24px;
        font-weight: bold;
        margin-left: 10px;
        text-transform: uppercase;
        font-family: 'Bebas Neue', sans-serif;
        color: #9f7aea;
    }

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

    nav ul li {
        margin: 0 1rem;
    }

        nav ul li a {
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            color: #f3f4f6;
            transition: color 0.3s ease, border-color 0.3s ease;
        }

            nav ul li a:hover {
                color: #9f7aea;
                border-bottom: 2px solid #9f7aea;
            }

.search-container {
    display: flex;
    align-items: center;
}

.avatar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d1d5db;
    cursor: pointer;
    overflow: hidden;
}

    .avatar-button img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

    .menu-button svg {
        width: 30px;
        height: 30px;
        color: #f3f4f6;
    }

@media screen and (max-width: 1024px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: rgba(31, 41, 55, 0.95);
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1rem 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

        nav ul.active {
            display: flex;
        }

        nav ul li {
            text-align: center;
            margin: 0.5rem 0;
        }

    .menu-button {
        display: block;
    }
}